@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

@layer components {
  .text-course-details-heading-small {
    font-size: 30px;
    line-height: 36px;
  }

  .text-course-details-heading-large {
    font-size: 36px;
    line-height: 44px;
  }

  .text-home-heading-small {
    font-size: 28px;
    line-height: 34px;
  }

  .text-home-heading-large {
    font-size: 48px;
    line-height: 56px;
  }

  .text-default {
    font-size: 15px;
    line-height: 21px;
  }

  /* spacing equivalent */
  .section-height {
    height: 500px;
  }
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@layer base{
  html {
    scroll-behavior: smooth;
  }
}

::-webkit-scrollbar{
  display: none;
}

.rich-text {
  font-size: 15px;
  color: #7A7B7D;
}

.rich-text p {
  margin-bottom: 16px;
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 32px 0;
}

.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333333;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444444;
  margin: 16px 0;
}

.rich-text h5 {
  font-size: 16px;
  font-weight: 400;
  color: #555555;
  margin: 12px 0;
}

.rich-text h6 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  margin: 8px 0;
}

.rich-text strong { font-weight: 700;}


/* Max width utility */
@layer components {
  .max-w-course-card {
    max-width: 424px;
  }
}

/* Custom box shadow utility */
@layer utilities {
  .shadow-custom-card {
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.1);
  }
}


/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

@layer components {
  .text-course-details-heading-small {
    font-size: 30px;
    line-height: 36px;
  }

  .text-course-details-heading-large {
    font-size: 36px;
    line-height: 44px;
  }

  .text-home-heading-small {
    font-size: 28px;
    line-height: 34px;
  }

  .text-home-heading-large {
    font-size: 48px;
    line-height: 56px;
  }

  .text-default {
    font-size: 15px;
    line-height: 21px;
  }
}
.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
} */




/* fontSize : {
  'course-details-heading-small': ['26px', '36px'],
  'course-details-heading-large': ['36px', '44px'],
  'home-heading-small': ['28px', '34px'],
  'home-heading-large': ['48px', '56px'],
  'default': ['15px'],
} */